.xz-zClass-service_card-wrapper {
  display: flex;
  gap: 25px;
  border-radius: 8px;
  padding: 15px;
  .service-icon {
    transition: 0.5s ease;
  }
  &:hover {
    .service-icon {
      transform: scale(1.2);
      transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
  }
}
