@use "../variables";

.xz-zClass-logo {
  max-width: 180px;
  width: 100%;
  @media (max-width: 1280px) {
    max-width: 130px;
  }

  @media (max-width: 768px) {
    max-width: 120px;
  }

  @media (max-width: 640px) {
    max-width: 110px;
  }
}

.xz-zClass-responsive-navIcons {
  position: relative;
  cursor: pointer;
  .resposive-count-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    right: -5px;
    height: 18px;
    width: 18px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    color: #ffff;
    background-color: variables.$primary;
  }
}
