@use "../variables";

.grid-style-1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b c d";
  gap: 10px;
  .grid-item1 {
    grid-area: a;
  }
  .grid-item2 {
    grid-area: b;
  }
  .grid-item3 {
    grid-area: c;
  }
  .grid-item4 {
    grid-area: d;
  }
  @media (max-width: 1280px) {
    row-gap: 34px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c d";
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a c"
      "b d";
  }
}

.product-card {
  display: flex;
  gap: 30px;
}

.product-list-wrap > li {
  &:not(:last-child) {
    padding-bottom: 34px;
    margin-bottom: 34px;
    border-bottom: 1px solid #e5e7eb;
  }
}

.product-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  transition: 0.5s ease;
  &:hover {
    color: variables.$secondary;
  }
}

.product-card.style-1 {
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  .product-thumb-image {
    aspect-ratio: 1;
    max-width: 122px;
    overflow: hidden;
    a {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: stretch;
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.5s ease;
      }
      .product-img-hover {
        position: absolute;
        inset: 0;
        opacity: 0;
      }
    }
  }

  .stock-bar-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    .stock-bar {
      height: 8px;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      background: #c5c9cd;
      .inner-bar {
        height: 100%;
        width: 50%;
        background-color: variables.$primary;
        border-radius: 20px;
      }
    }
  }

  &:hover {
    .product-thumb-image {
      a {
        .product-img {
          opacity: 0;
        }
        .product-img-hover {
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .product-thumb-image {
      max-width: 160px;
    }
  }
}

.product-card.style-2 {
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border: 2px solid variables.$primary;
  border-radius: 8px;
  .product-thumb-image {
    max-width: 400px;
    img {
      width: auto;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.product-card.style-3 {
  flex-direction: column;
  position: relative;
  padding: 25px 10px;
  border-radius: 8px;
  gap: 0px;
  .product-thumb-image {
    position: relative;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: auto;
        height: auto;
        transition: 0.5s ease;
      }
      .product-img-hover {
        position: absolute;
        opacity: 0;
        inset: 0;
      }
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .stock-bar-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      .stock-bar {
        height: 8px;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        background: #c5c9cd;
        .inner-bar {
          height: 100%;
          width: 50%;
          background-color: variables.$primary;
          border-radius: 20px;
        }
      }
    }
  }
  .hot-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 12px;
    border-radius: 4px;
    background-color: variables.$primary;
  }
  &:hover {
    .product-thumb-image {
      a {
        .product-img {
          opacity: 0;
        }
        .product-img-hover {
          opacity: 1;
        }
      }
    }
  }
}

.product-shop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  padding: 7px 12px;
  border-radius: 20px;
  transition: all 0.5s ease;
  background-color: #409667;
  &:hover {
    background-color: variables.$primary;
  }
}
